/* styles for the main containers */

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
#container {
  background-color: black;
  height: 700px;
  width: 26rem;
  border-radius: 25px;
}
/* styles for container components */
#navigator-top {
  background-color: black;
  height: 3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#output-screen {
  background-color: rgb(0, 0, 0);
  margin: 0px 10px;
  height: 12rem;
  border-radius: 20px;
}
#curr-calc {
  color: wheat;
  text-align: end;
  background-color: (107, 107, 106);
  height: 100px;
  width: auto;
  font-size: 45px;
  padding-right: 0px;
}
#answer {
  color: wheat;
  text-align: end;
  font-size: 35px;
  height: 80px;
}
/* button container styling */
#btn-container {
  /* background-color: aquamarine; */
  height: 31rem;
  margin: 20px 25px;
}
#btn-layer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  height: 70px;
  width: 100%;
  /* background-color: rgb(163, 130, 174); */
}
#btn-last-layer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  width: 100%;
  /* background-color: rgb(163, 130, 174); */
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: rgb(35, 151, 171);
  cursor: pointer;
  color: white;
  font-size: 33px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn:active {
  background-color: rgb(0, 0, 0);
  transition: background-color 0.15s;
}
.btn:hover {
  scale: 1.09;
  transition: 0.15s ease-in;
}
/* Individual btn styles */
.c-sign {
  height: 45px;
}
.backsp-sign {
  height: 45px;
  font-weight: bold;
}
.ampersand {
  font-weight: bold;
}
.divide-sign,
.multiply-sign,
.equal-sign {
  height: 45px;
}

.minus-sign,
.add-sign {
  height: 45px;
}
/* last layer custom styles */
#equal,
#dot,
#zero {
  display: inline-block;
}
#equal {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
#zero,
#dot {
  margin-left: 35px;
}
#equal {
  width: 140px;
  border-radius: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  border: 3px solid;
  border-radius: 14px;
  padding: 0px 10px;
  margin-top: 4rem;
  font-size: 20px;
  cursor: pointer;
}
.footer:hover {
  background-color: black;
  color: white;
  transition: all 0.25s ease-out;
}
#divide,
#multi,
#minus,
#adding,
#equal,
#modul {
  background-color: goldenrod;
}
#shift {
  background-color: whitesmoke;
  height: 40px;
  margin-top: 0.8em;
  width: 40px;
  border-radius: 50%;
  margin-left: 8px;
}
#shift.active {
  background-color: black;
}
#navigation-top.active {
  background-color: whitesmoke;
}
